<a href="https://colab.research.google.com/github/tsaiyaoyang/Introduction-to-Computers/blob/main/0525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print('test')

test

In [5]:
print('test')

test

In [6]:
sum = 0
test = int(input('請輸入一個正整數:'))
for n in range(1, test+1):
     sum = sum+n
print('1到',test,'的整數何為',sum)

請輸入一個正整數:50
1到 50 的整數何為 1275

In [7]:
sum = 0 
test = int(input('請輸入一個正整數:'))
for m in range(1, test+1):
     sum = sum+n
     print('1到',test,'的整數和為',sum)

請輸入一個正整數:50
1到 50 的整數和為 50
1到 50 的整數和為 100
1到 50 的整數和為 150
1到 50 的整數和為 200
1到 50 的整數和為 250
1到 50 的整數和為 300
1到 50 的整數和為 350
1到 50 的整數和為 400
1到 50 的整數和為 450
1到 50 的整數和為 500
1到 50 的整數和為 550
1到 50 的整數和為 600
1到 50 的整數和為 650
1到 50 的整數和為 700
1到 50 的整數和為 750
1到 50 的整數和為 800
1到 50 的整數和為 850
1到 50 的整數和為 900
1到 50 的整數和為 950
1到 50 的整數和為 1000
1到 50 的整數和為 1050
1到 50 的整數和為 1100
1到 50 的整數和為 1150
1到 50 的整數和為 1200
1到 50 的整數和為 1250
1到 50 的整數和為 1300
1到 50 的整數和為 1350
1到 50 的整數和為 1400
1到 50 的整數和為 1450
1到 50 的整數和為 1500
1到 50 的整數和為 1550
1到 50 的整數和為 1600
1到 50 的整數和為 1650
1到 50 的整數和為 1700
1到 50 的整數和為 1750
1到 50 的整數和為 1800
1到 50 的整數和為 1850
1到 50 的整數和為 1900
1到 50 的整數和為 1950
1到 50 的整數和為 2000
1到 50 的整數和為 2050
1到 50 的整數和為 2100
1到 50 的整數和為 2150
1到 50 的整數和為 2200
1到 50 的整數和為 2250
1到 50 的整數和為 2300
1到 50 的整數和為 2350
1到 50 的整數和為 2400
1到 50 的整數和為 2450
1到 50 的整數和為 2500

In [9]:
for j in range(1,5):
     print(j)
     for i in range(1,3):
          k = i*j
          print(j,'*',i,'=',k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [24]:
for i in range(1,5):
     if(i==3):
          break
     print(i, end = ' ')

1 2

In [14]:
count = 0
for string in 'hello!' :
     count+=1
     if string == 'o':
          break
     print(string)
print('迴圈結束')
print('迴圈執行了 %d 次'  %count)

h
e
l
l
迴圈結束
迴圈執行了 5 次

In [15]:
count = 0
for string in '測試看看!' :
     count+=1
     if string == '看':
          break
     print(string)
print('迴圈結束')
print('迴圈執行了 %d 次'  %count)

測
試
迴圈結束
迴圈執行了 3 次

In [23]:
for j in range(1,10):
     print(j)
     for i in range(1,10):
          k = i*j
          print(j,'*',i,'=',k)

1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81